/*  your css code here. If applicable */
body{
	background:#f5f5f5;
	min-height: 100vh;
}
header{
	width:100%;
	text-align:center;
	background: #011e29;
	padding: 10px;
	color: white;
}

.container{
	padding: 10px 30px;
}

.latest-news-section{
	float:left;
	width:24%;
	background-color: white;
	border-radius: 20px;
	margin-right: 5px;
	text-align: center;
	padding:5px;
}
.main-article-section{
	float:left;
	width:48%;
	background: white;
	border-radius: 20px;
	margin-right: 5px;
	text-align: center;
	padding:5px;
}
.pictorial-news-section{
	float:left;
	width:25%;
	background: white;
	border-radius: 20px;
	text-align: center;
	padding:5px;
}
#pic-box{
	display: flex;
	flex-direction:column;
	
	
}
#pic-box > img{
	margin: 10px;
}